# Electron
.env
node_modules/
dist/*
!dist/.gitkeep
app-build/*
!app-build/.gitkeep

teststore.json
teststore_bn.json

# Dockerized build
dockerized/dist/*

# Docs
docs/

# React App
app/client/build
app/client/node_modules
app/client/.env
app/client/.eslintcache

# Mac
.DS_Store

#PyCharm
/.idea
