/* Global Styles Should Go Here */
html, body, #root {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.ui.grid {
    display: flex !important;
}

@import './toastify.scss';

/////////////////////////////////////////////////////////
/* Semantic Very Specific Additional Class Overwrites */
////////////////////////////////////////////////////////

/* To be used as custom label class within a checkbox */
.labelCheckbox  {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 9px !important;
    padding: 2px;
    padding-left: 29px !important;
    color: #555555 !important;
    position: relative;
    &:after {
        width: 17px !important;
        height: 17px !important;
        font-size: 9px !important;
        position: relative;
        top:2px !important;
    }
} 

/* To be used as customization for tab panes */
.overwrite-tab {
    >div {
        border: 0 !important;
        justify-content: space-around !important;
        .active {
            color: #A333C8 !important;
            border-color: #A333C8 !important;
        }
    }
}

// Extra-mini-loader
.extra-mini-loader {
    &:before, &:after {
        height: .5rem !important;
        width: .5rem !important;
        margin: .325rem 0rem 0rem .45rem !important;
    }
}


//////////////////
// No scrollbar //
//////////////////

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
