/* Global Styles Should Go Here */
html, body, #root {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.ui.grid {
    display: flex !important;
}

@import './toastify.scss';