/* Global Styles Should Go Here */
html, body, #root {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.ui.grid {
    display: flex !important;
}

@import './toastify.scss';

/////////////////////////////////////////////////////////
/* Semantic Very Specific Additional Class Overwrites */
////////////////////////////////////////////////////////
/* To be used as custom label class within a checkbox */
.labelCheckbox  {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 9px !important;
    padding: 2px;
    padding-left: 29px !important;
    color: #555555 !important;
    position: relative;
    &:after {
        width: 17px !important;
        height: 17px !important;
        font-size: 9px !important;
        position: relative;
        top:2px !important;
    }
} 


///////////////////////////
// Half Sidebar Override // -- Can set this up as a non-override if necessary -- I don't forsee other left drawers at the moment though
///////////////////////////
.ui.left.sidebar.half {
    right: auto;
    left: 0px;
    transform: translate3d(-80%, 0, 0);
}

/* Set-up */
.overlay.sidebar {
    z-index: 102 !important;
    visibility: visible !important;
}

/* Initial */
.left.overlay.sidebar {
    transform: translate3d(-80%, 0%, 0) !important;
  }

  /* Animation */
.animating.overlay.sidebar,
.visible.overlay.sidebar {
  transition: transform 0.55s ease-in-out !important;
}

/* End - Sidebar */
.visible.left.overlay.sidebar {
    transform: translate3d(0%, 0%, 0) !important;
}