#root {
    background: #292b2d !important;
}

.ui.segment {
    color: #ffffff !important;
    background: #313436 !important;
}

.ui.segment .text-gray-800 {
    color: #ffffff !important;
}

.ui {
    color: #ffffff !important;
}

.logo {
    filter: invert(100%);
}

.labelCheckbox {
    color: #ffffff !important;
}

.ui.menu .item {
    color: #ffffff !important;
}

.ui.menu .active.item {
    border-color: #ffffff !important;
}

div .ui.toggle.checkbox label,
div .ui.checked.toggle.checkbox label,
div .ui.toggle.checkbox input:checked ~ .box,
div .ui.toggle.checkbox input:checked ~ label {
    color: #ffffff !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
    background: #8aa9bd !important;
}

.ui.form .field > label {
    color: #ffffff !important;
}

.add-wallets button {
    color: #000000 !important;
}

.add-wallets > .text-gray-700 {
    color: #ffffff !important;
}

.triangle.icon {
    color: #000000 !important;
}

.ui.mini.popup {
    color: #000000 !important;
}

.ui.selection.dropdown {
    color: #000000 !important;
}

.ui.secondary.pointing.menu a.header.item {
    color: #ffffff !important;
}

.ui.tabular.menu .active.item {
    background: transparent !important;
}

.ui.modal > .content,
.ui.modal > .header,
.ui.modal > .actions {
    background: #292b2d !important;
}

.ui.small.compact.labeled.icon.menu {
    background: #7f8285 !important;
}

.ui.small.compact.labeled.icon.menu a > i {
    color: #ffffff !important;
}
