#root {
  color: #f0ece2 !important;
  background-color: #212121 !important;
}
.logo {
  filter: invert(100%) !important;
}
.ui.tabular.menu {
  border-bottom: 1px solid #95D8DE !important;
}
.ui.tabular.menu .item {
  color: #f0ece2 !important;
}

.ui.secondary.pointing.menu .active.item {
  color: #95D8DE !important;
  border-color: #95D8DE !important;
}

.ui.secondary.pointing.menu .item {
  color: #f0ece2 !important;
}

.ui.tabular.menu .active.item {
  color: #383838 !important;
  background: none #95D8DE !important;
  background-color: #95D8DE !important;
  border-color: #95D8DE !important;
}

.ui.segment, .ui.placeholder.segment {
  background-color: #383838 !important;
  color: #f0ece2 !important;
}

input[type=password], input[type=text], .ui.selection.dropdown, .ui.selection.active.dropdown .menu, input:not([type]) {
  background-color: #212121 !important;
  border-color: #383838 !important;
  color: #95D8DE!important;
}

.ui.blue.button {
  background-color: #95D8DE !important;
  color: #212121 !important;
}

.ui.green.button {
  background-color: #4aec75 !important;
  color: #212121 !important;
}

.ui.violet.button, .ui.red.button {
  background-color: #ff6464 !important;
  color: #212121 !important;
}

.ui.card, .ui.cards>.card {
  background-color: #59849F !important;
  color: #212121 !important;
}

.ui.selection.dropdown .menu>.item {
  border-top: 1px solid #FF6FFD !important;
}

h1, h2, h3 {
  color: #f0ece2 !important;
}

.w {
  color: #f0ece2 !important;
}

.b {
  color: #212121 !important;
}

.ui.segments:not(.horizontal)>.segment:first-child, .ui.segments:not(.horizontal)>.segment:last-child {
  background-color: #95D8DE !important;
  color: #212121 !important;
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
  color: #f0ece2 !important;
}

.ui.selection.visible.dropdown>.text:not(.default), .ui.dropdown .menu>.item {
  color: #f0ece2 !important;
}

.ui.form .field>label, .inline.fields>label {
  color: #f0ece2 !important;
}

.ui.modal > *, .ui.tiny.modal > * {
  background: #ff6464 !important;
  color: #212121 !important;
}

.Toastify__toast--success {
  background-color: #4aec75 !important;
  color: #212121 !important;
}

.Toastify__toast--error {
  background-color: #ff6464 !important;
  color: #212121 !important;
}
.Toastify__toast--info {
  background-color: #95D8DE !important;
  color: #212121 !important;
}
.Toastify__toast--warning {
  background-color: #fff974 !important;
  color: #212121 !important;
}

.ui.statistic>.value, .ui.statistics .statistic>.value, .ui.statistic>.label, .ui.statistics .statistic>.label {
  color: #95D8DE !important;
}