
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

#root {
  text-align: center;
  max-height: 100vh !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  padding-right: 17px;
  box-sizing: content-box;
}

*:not(i) {
  font-family: 'Ubuntu Mono', monospace !important;
}

.mainView {
  box-sizing: border-box;
}

.ui.placeholder.segment {
  min-height: unset !important;
}

.switch, .ui.statistics {
  justify-content: center !important;
}

.ui.attached.button {
  box-shadow: unset !important;
}

.madCard {
  margin-left: 37px !important;;
  margin-top: 3px !important;
}

.ui.segment {
  word-break: break-all !important;
}

.ui.attached.tabular.menu {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.warningMenu {
  background: #ff4c4c !important;
    color: #000000 !important;
    text-align: center !important;
    justify-content: center !important;
    min-height: unset !important;
}

.warningPad {
  padding-top: 0px !important;
}

.blocks, .click {
  cursor: pointer !important;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
  border-radius: unset !important;
  box-shadow: unset !important;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
  font-weight: unset !important;
  padding: unset !important;
  color: unset !important;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
  padding: unset !important;
}

.txView {
  margin: unset !important;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.txSwitch {
  justify-content: right !important;
  text-align: right !important;
}

i.circular.icon {
  border-radius: 500em!important;
  line-height: 1!important;
  padding: .5em 0!important;
  box-shadow: unset !important;
  width: 1.5em!important;
  height: 2em!important;
  margin: unset !important;
  font-weight: 250 !important;
}

.blurring.dimmed.dimmable>:not(.dimmer):not(.ui.popup) {
  filter: blur(5px) grayscale(.7);
}
